﻿@model IEnumerable<Airlines.Persistence.Basic.Entities.Flight>

@{
	ViewData["Title"] = "Index";
}

<h1>Flights</h1>
<div id="table-and-filter">
	<form asp-controller="Flight" asp-action="Index" method="get">
		<input type="text" name="searchTerm" placeholder="Search by Flight Number" value="@ViewBag.CurrentFilter">
		<input type="submit" value="Search">
	</form>
	<form asp-controller="Flight" asp-action="Index" method="get">
		<label for="flightNumber">Flight Number:</label>
		<input type="text" id="flightNumber" name="flightNumber">
		<label for="fromAirportId">From Airport ID:</label>
		<input type="text" id="fromAirportId" name="fromAirportId">
		<label for="toAirportId">To Airport ID:</label>
		<input type="text" id="toAirportId" name="toAirportId">
		<input type="submit" value="Filter">
	</form>
	<div class="table-form">
		<table id="flightsTable">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(model => model.FlightNumber)</th>
					<th>@Html.DisplayNameFor(model => model.FromAirportId)</th>
					<th>@Html.DisplayNameFor(model => model.ToAirportId)</th>
					<th>@Html.DisplayNameFor(model => model.Departure)</th>
					<th>@Html.DisplayNameFor(model => model.Arrival)</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.FlightNumber)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.FromAirportId)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ToAirportId)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Departure)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Arrival)
						</td>
					</tr>
				}
			</tbody>
		</table>
	<button id="scrollButton">Scroll to First Element</button>
	</div>
</div>
<div id="ThreeItemsDiv">
	<table id="ThreeItemsTable">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.FlightNumber)</th>
				<th>@Html.DisplayNameFor(model => model.FromAirportId)</th>
				<th>@Html.DisplayNameFor(model => model.ToAirportId)</th>
				<th>@Html.DisplayNameFor(model => model.Departure)</th>
				<th>@Html.DisplayNameFor(model => model.Arrival)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Take(3))
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.FlightNumber)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.FromAirportId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ToAirportId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Departure)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Arrival)
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<p onclick="showTable()" id="show-table" class="create-new-button">
	<a>Show More</a>
</p>
<p onclick="showForm()" id="show-form" class="create-new-button">
	<a>Show Form</a>
</p>
<p id="submit-label" class="submit-label">Add New Flight</p>
<div id="submit-form" class="submit-form">
	<form asp-action="CreateNewFlight" method="post">
		<div class="submit-element">
			<div class="form-group">
				<label for="FlightNumber" class="control-label">FlightNumber</label>
				<input id="FlightNumber" type="text" name="FlightNumber" class="form-control" oninput="checkIsValid()" />
				<span class="error">Flight number must not be empty!</span>
			</div>
		</div>
		<div class="submit-element">
			<div class="form-group">
				<label for="FromAirportId" class="control-label">FromAirportId</label>
				<input type="number" name="FromAirportId" class="form-control" oninput="checkIsValid()" />
				<span class="error">FromAirportId must not be empty!</span>
			</div>
		</div>
		<div class="submit-element">
			<div class="form-group">
				<label for="ToAirportId" class="control-label">ToAirportId</label>
				<input type="number" name="ToAirportId" class="form-control" oninput="checkIsValid()" />
				<span class="error">ToAirportId must not be empty!</span>
			</div>
		</div>
		<div class="departure-and-arrival">
			<div class="departure-and-arrival-element">
				<div class="form-group">
					<label for="Departure" class="control-label">Departure</label>
					<input type="datetime-local" name="Departure" class="form-control" oninput="checkIsValid()" />
					<span class="error">Departure must not be empty!</span>
				</div>
			</div>
			<div class="departure-and-arrival-element">
				<div class="form-group">
					<label for="Arrival" class="control-label">Arrival</label>
					<input type="datetime-local" name="Arrival" class="form-control" oninput="checkIsValid()" />
					<span class="error">Arrival must not be empty!</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<input asp-controller="Flight" asp-action="CreateNewFlight" class="submit-button" type="submit" value="Create" class="btn btn-primary" />
		</div>
	</form>
</div>
@section Scripts {
	<script src="~/js/validation.js"></script>
	<script src="~/js/site.js"></script>
}