﻿@model IEnumerable<Airlines.Persistence.Basic.Entities.Airport>

@{
	ViewData["Title"] = "Airports";
}

<h1>Airports</h1>
<div id="table-and-filter">
	<form asp-controller="Airport" asp-action="Index" method="get">
		<input type="text" name="searchTerm" placeholder="Search by Airport name" value="@ViewBag.CurrentFilter">
		<input type="submit" value="Search">
	</form>
	<form asp-controller="Airport" asp-action="Index" method="get">
		<label for="airportName">Airport name:</label>
		<input type="text" id="airportName" name="airportName">
		<label for="country">Country:</label>
		<input type="text" id="country" name="country">
		<label for="city">City:</label>
		<input type="text" id="city" name="city">
		<label for="code">Code:</label>
		<input type="text" id="code" name="code">
		<label for="runwayCount">Runways:</label>
		<input type="text" id="runwayCount" name="runwayCount">
		<input type="submit" value="Filter">
	</form>
	<div class="table-form">
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.AirportName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Country)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.City)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Code)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.RunwayCount)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Founded)
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.AirportName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Country)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.City)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Code)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.RunwayCount)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Founded)
						</td>
					</tr>
				}
			</tbody>
		</table>
		<button id="scrollButton">Scroll to First Element</button>
	</div>
</div>
<div id="ThreeItemsDiv">
	<table id="ThreeItemsTable" class="table">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.AirportName)</th>
				<th>@Html.DisplayNameFor(model => model.Country)</th>
				<th>@Html.DisplayNameFor(model => model.City)</th>
				<th>@Html.DisplayNameFor(model => model.Code)</th>
				<th>@Html.DisplayNameFor(model => model.RunwayCount)</th>
				<th>@Html.DisplayNameFor(model => model.Founded)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Take(3))
			{
				<tr>
					<td>@Html.DisplayFor(modelItem => item.AirportName)</td>
					<td>@Html.DisplayFor(modelItem => item.Country)</td>
					<td>@Html.DisplayFor(modelItem => item.City)</td>
					<td>@Html.DisplayFor(modelItem => item.Code)</td>
					<td>@Html.DisplayFor(modelItem => item.RunwayCount)</td>
					<td>@Html.DisplayFor(modelItem => item.Founded)</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<p onclick="showTable()" id="show-table" class="create-new-button">
	<a>Show More</a>
</p>
<p onclick="showForm()" id="show-form" class="create-new-button">
	<a>Show Form</a>
</p>
<p id="submit-label" class="submit-label">Add New Airport</p>
<div id="submit-form" class="submit-form">
	<form asp-action="CreateNewAirport" method="post">
		<div class="submit-element">
			<div class="form-group">
				<label for="AirportName" class="control-label">AirportName</label>
				<input type="text" name="AirportName" class="form-control" oninput="checkIsValid()" />
				<span class="error">Airport name must not be empty!</span>
			</div>
		</div>
		<div class="submit-element">
			<div class="form-group">
				<label for="Country" class="control-label">Country</label>
				<input type="text" name="Country" class="form-control" oninput="checkIsValid()" />
				<span class="error">Country must not be empty!</span>
			</div>
		</div>
		<div class="submit-element">
			<div class="form-group">
				<label for="City" class="control-label">City</label>
				<input type="text" name="City" class="form-control" oninput="checkIsValid()" />
				<span class="error">City must not be empty!</span>
			</div>
		</div>
		<div class="submit-element">
			<div class="form-group">
				<label for="Code" class="control-label">Code</label>
				<input type="text" name="Code" class="form-control" oninput="checkIsValid()" />
				<span class="error">Code must not be empty!</span>
			</div>
		</div>
		<div class="submit-element">
			<div class="form-group">
				<label for="RunwayCount" class="control-label">RunwayCount</label>
				<input type="number" name="RunwayCount" class="form-control" oninput="checkIsValid()" />
				<span class="error">Runway count must not be empty!</span>
			</div>
		</div>
		<div class="submit-element">
			<div class="form-group">
				<label for="Founded" class="control-label">Founded</label>
				<input type="datetime-local" name="Founded" class="form-control" oninput="checkIsValid()" />
				<span class="error">Founded must not be empty!</span>
			</div>
		</div>
		<div class="form-group">
			<input asp-controller="Airport" asp-action="CreateNewAirport" class="submit-button" type="submit" value="Create" class="btn btn-primary" />
		</div>
	</form>
</div>
@section Scripts {
	<script src="~/js/site.js"></script>
	<script src="~/js/validation.js"></script>
}
