﻿@model DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<main>
    <h2 class="heading2">Welcome to dashboard</h2>
    <div class="main-content">
        <div class="content-box-button">
            <div class="content-box">
                <p>Airports</p>
                <img src="~/Pictures/mdi_airport.png" alt="airport" />
                <p>@Model.AirportCount</p>
            </div>
            <a asp-controller="Airport" asp-action="Index">
                <input type="submit" value="Add new Airport">
            </a>
        </div>
        <div class="content-box-button">
            <div class="content-box">
                <p>Airlines</p>
                <img src="~/Pictures/ri_plane-fill.png" alt="airline" />
                <p>@Model.AirlineCount</p>
            </div>
            <a asp-controller="Airline" asp-action="Index">
                <input type="submit" value="Add new Airline">
            </a>
        </div>
        <div class="content-box-button">
            <div class="content-box">
                <p>Flights</p>
                <img src="~/Pictures/carbon_flight-schedule.png"
                     alt="flight" />
                <p>@Model.FlightCount</p>
            </div>
            <a asp-controller="Flight" asp-action="Index">
                <input type="submit" value="Add new Flight">
            </a>
        </div>
</main>
@section Scripts {
    <script src="~/js/site.js"></script>
}