* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    margin-top: 4em;
}

.home-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

    .home-nav a {
        padding: 5px;
        text-decoration: none;
    }

.navigation-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 1em;
    align-items: center;
}

.list-elements {
    margin: 1em 0.5em 0.5em 0.5em;
    color: white;
}

    .list-elements a {
        text-decoration: none;
        color: white !important;
    }

        .list-elements a:hover {
            text-decoration: underline;
            color: #fca311 !important;
        }

.active {
    color: #fca311;
}

.main-header {
    margin: 0.5em 0.5em 0.5em 0.5em;
    color: white;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
}

.main-header-div {
    display: flex;
    justify-content: space-between;
}

    .main-header-div img {
        max-height: 35%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

.heading2 {
    text-align: center;
    font-size: 30px;
}

.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 1em;
    background-color: black;
    text-align: center;
}

.main-content {
    display: flex;
    justify-content: space-around;
    margin: 2em;
}

.content-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #fca311;
    border-radius: 5%;
    padding: 0.3em 3em 0.3em 3em;
}

    .content-box * {
        margin: 0.5em 0em 0.5em 0em;
        font-size: 1.5em;
        font-weight: bolder;
    }

.content-box-button {
    display: flex;
    flex-direction: column;
}

    .content-box-button input {
        margin-top: 1em;
        padding: 10px 60px 10px 60px;
        background-color: #e5e5e5;
        border-color: #e5e5e5;
        border-radius: 10%;
        font-size: 15px;
        font-weight: bold;
    }

        .content-box-button input:hover {
            background-color: #14213D;
            border-color: #FCA311;
            color: #FCA311;
        }

.table-and-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-form {
    display: none;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    border-radius: 5%;
    margin-bottom: 2em;
}

.table-form {
    text-align: center;
    overflow-y: auto;
    max-height: 200px;
}

    .table-form table {
        width: 100%;
        border-collapse: collapse;
    }

thead th {
    background-color: #f2f2f2;
    border: 1px solid black;
    position: sticky;
    padding: 1em;
    top: 0;
    z-index: 2;
}

thead th,
tbody td {
    border: 1px solid black;
    padding: 16px;
    text-align: center;
}

.show-form {
    margin: 2em 0em 2em 0em;
    padding: 0.3em 7em 0.3em 7em;
    border: 1px solid #fca311;
    border-radius: 5%;
    background-color: #fca311;
    color: white;
}

.table-and-submit h2 {
    margin-bottom: 1em;
}

.submit-element {
    display: flex;
    flex-direction: column;
    padding: 1em 1em 1em 1em;
}

    .submit-element input {
        padding: 0em 15em 0em 0em;
    }

.departure-and-arrival {
    display: flex;
    flex-direction: row;
}

.departure-and-arrival-element {
    display: flex;
    flex-direction: column;
    padding: 1em 1em 1em 1em;
}

.submit-button {
    margin: 1em 1em 1em 1em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    background-color: #fca311;
    color: white;
    border: 1px solid #fca311;
    border-radius: 5%;
}

.submit-label {
    display: none;
    margin-right: 18em;
    position: relative;
    top: 0.5rem;
    right: 10rem;
    font-size: 0.9rem;
    background-color: white;
}

.hr-line {
    border-bottom: 1px solid #e5e5e5;
    width: 60%;
    margin: 0em 0em 1em 0em;
    background-color: #e5e5e5;
}

.submit-element input {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.departure-and-arrival-element input {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.description {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

    .description:hover {
        white-space: normal;
        text-overflow: initial;
    }

.arrow-image {
    position: relative;
    top: 3rem;
    left: 7rem;
}

#descriptionId {
    padding: 2em;
}

main {
    margin-top: -2em;
    margin-bottom: 10em;
}

.pb-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

    .pb-3 * {
        margin: auto;
        padding: 0.5em;
    }

.create-new-button {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #FCA311;
    border-radius: 5%;
}

    .create-new-button:hover {
        background-color: #14214D;
    }

    .create-new-button a {
        text-decoration: none;
        color: white;
    }

.form-control {
    padding: 2px;
}

.form-group {
    /*    display: flex;
    align-items: center;*/
    position: relative;
    margin-bottom: 1rem;
}

.submit-button {
    margin-top: 1em;
    padding-left: 8em;
    padding-right: 8em;
}

    .submit-button:hover {
        background-color: #14214D;
        border-color: #14214D;
    }

.error {
    display: none;
    color: red;
    position: absolute;
}

.form-group input {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

#loading {
    display: none;
    position: fixed;
    top: 40%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    animation: spin 1s linear infinite;
    z-index: 1000;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-form {
    display: none;
}

#ThreeItemsTable {
    border-spacing: 0;
}
