* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.home-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}

.home-nav a {
  padding: 5px;
  text-decoration: none;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-right: 1em;
}

.list-elements {
  margin: 1em 0.5em 0.5em 0.5em;
  color: white;
}

.list-elements a {
  text-decoration: none;
  color: inherit;
}

.list-elements a:hover {
  text-decoration: underline;
}

.active {
  color: #fca311;
}

.main-header {
  margin: 0.5em 0.5em 0.5em 0.5em;
  color: white;
  display: flex;
  justify-content: space-between;
  font-weight: normal;
}

.main-header-div {
  display: flex;
  justify-content: space-between;
}

.main-header-div img {
  max-height: 35%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.heading2 {
  text-align: center;
  font-size: 30px;
}

.main-footer {
  color: white;
  padding: 1em 1em 1em 1em;
  background-color: black;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main-content {
  display: flex;
  justify-content: space-around;
  margin: 2em;
}

.content-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #fca311;
  border-radius: 5%;
  padding: 0.3em 3em 0.3em 3em;
}

.content-box * {
  margin: 0.5em 0em 0.5em 0em;
  font-size: 1.5em;
  font-weight: bolder;
}

.content-box-button {
  display: flex;
  flex-direction: column;
}

.content-box-button input {
  margin-top: 1em;
  padding: 10px 60px 10px 60px;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  border-radius: 10%;
  font-size: 15px;
  font-style: bolder;
}

.table-and-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  border-radius: 5%;
  margin-bottom: 2em;
}

.table-form {
  text-align: center;
  overflow-y: auto;
  max-height: 200px;
}

.table-form table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #f2f2f2;
  border: 1px solid black;
  position: sticky;
  padding: 1em;
  top: 0;
  z-index: 2;
}

thead th,
tbody td {
  border: 1px solid black;
  padding: 16px;
  text-align: center;
}

.show-form {
  margin: 2em 0em 2em 0em;
  padding: 0.3em 7em 0.3em 7em;
  border: 1px solid #fca311;
  border-radius: 5%;
  background-color: #fca311;
  color: white;
}

.table-and-submit h2 {
  margin-bottom: 1em;
}

.submit-element {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 1em 1em;
}

.submit-element input {
  padding: 0em 15em 0em 0em;
}

.departure-and-arrival {
  display: flex;
  flex-direction: row;
}

.departure-and-arrival-element {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 1em 1em;
}

.submit-button {
  margin: 1em 1em 1em 1em;
  padding: 0.2em 0.2em 0.2em 0.2em;
  background-color: #fca311;
  color: white;
  border: 1px solid #fca311;
  border-radius: 5%;
}

.submit-label {
  margin-right: 18em;
  position: relative;
  top: 0.5rem;
  font-size: 0.9rem;
  background-color: white;
}

.hr-line {
  border-bottom: 1px solid #e5e5e5;
  width: 60%;
  margin: 0em 0em 1em 0em;
  background-color: #e5e5e5;
}

.submit-element input {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.departure-and-arrival-element input {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.description {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description:hover {
  white-space: normal;
  text-overflow: initial;
}

.arrow-image {
  position: relative;
  top: 3rem;
  left: 7rem;
}

#descriptionId {
  padding: 2em;
}

main {
  margin-top: -2em;
  margin-bottom: 10em;
}

#edit-flight-modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

#edit-flight-modal form {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

#edit-flight-modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#edit-flight-modal .close:hover,
#edit-flight-modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#edit-airline-modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

#edit-airline-modal form {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

#edit-airline-modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#edit-airline-modal .close:hover,
#edit-airline-modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#edit-airport-modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

#edit-airport-modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

#edit-airport-modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#edit-airport-modal .close:hover,
#edit-airport-modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

