﻿@model IEnumerable<Airlines.Persistence.Basic.Entities.Airline>

@{
	ViewData["Title"] = "Airlines";
}

<h1>Airlines</h1>
<div id="table-and-filter">
	<form asp-controller="Airline" asp-action="Index" method="get">
		<input type="text" name="searchTerm" placeholder="Search by Airline name" value="@ViewBag.CurrentFilter">
		<input type="submit" value="Search">
	</form>
	<form asp-controller="Airline" asp-action="Index" method="get">
		<label for="airlineName">Airline name:</label>
		<input type="text" id="airlineName" name="airlineName">
		<label for="fleetSize">Fleet size:</label>
		<input type="text" id="fleetSize" name="fleetSize">
		<input type="submit" value="Filter">
	</form>
	<div class="table-form">
		<table class="table">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.AirlineName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.FleetSize)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.AirlineDescription)
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.AirlineName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.FleetSize)
						</td>
						<td class="description">
							@Html.DisplayFor(modelItem => item.AirlineDescription)
						</td>
					</tr>
				}
			</tbody>
		</table>
		<button id="scrollButton">Scroll to First Element</button>
	</div>
</div>
<div id="ThreeItemsDiv">
	<table id="ThreeItemsTable" class="table">
		<thead>
			<tr>
				<th>@Html.DisplayNameFor(model => model.AirlineName)</th>
				<th>@Html.DisplayNameFor(model => model.FleetSize)</th>
				<th>@Html.DisplayNameFor(model => model.AirlineDescription)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Take(3))
			{
				<tr>
					<td>@Html.DisplayFor(modelItem => item.AirlineName)</td>
					<td>@Html.DisplayFor(modelItem => item.FleetSize)</td>
					<td class="description">@Html.DisplayFor(modelItem => item.AirlineDescription)</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<p onclick="showTable()" id="show-table" class="create-new-button">
	<a>Show More</a>
</p>
<p onclick="showForm()" id="show-form" class="create-new-button">
	<a>Show Form</a>
</p>
<p id="submit-label" class="submit-label">Add New Airline</p>
<div id="submit-form" class="submit-form">
	<form asp-action="CreateNewAirline" method="post">
		<div class="submit-element">
			<div class="form-group">
				<label for="AirlineName" class="control-label">AirlineName</label>
				<input type="text" name="AirlineName" class="form-control" oninput="checkIsValid()" />
				<span class="error">Airline name must not be empty!</span>
			</div>
		</div>
		<div class="submit-element">
			<div class="form-group">
				<label for="FleetSize" class="control-label">FleetSize</label>
				<input type="number" name="FleetSize" class="form-control" oninput="checkIsValid()" />
				<span class="error">Fleet size must not be empty!</span>
			</div>
		</div>
		<div class="submit-element">
			<div class="form-group">
				<label for="AirlineDescription" class="control-label">AirlineDescription</label>
				<input type="text" name="AirlineDescription" class="form-control" oninput="checkIsValid()" />
				<span class="error">Airline description must not be empty!</span>
			</div>
		</div>
		<div class="form-group">
			<input asp-controller="Airline" asp-action="CreateNewAirline" class="submit-button" type="submit" value="Create" class="btn btn-primary" />
		</div>
	</form>
</div>
@section Scripts {
	<script src="~/js/validation.js"></script>
	<script src="~/js/site.js"></script>
}
