﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - AirlinesWeb</title>
	<link rel="icon" type="image/x-icon" href="~/favicon.ico">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/AirlinesWeb.styles.css" asp-append-version="true" />
</head>
<body>
	<header class="home-header">
		<partial name="_Navigation" />
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<div id="loading-overlay">
		<div id="loading"></div>
	</div>

	<footer class="main-footer">
		<p>Rise Airlines 2024 &copy;</p>
	</footer>

	<div id="loading"></div>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@section Scripts {
	<script src="~/site.js"></script>
	<script src="~/validation.js"></script>
}
