﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<nav class="home-nav">
    <a asp-controller="Home" asp-action="Index">
        <div class="main-header-div">
            <h1 class="main-header">Rise Airlines</h1>
            <img class="header-picture" src="~/Pictures/header-plane.png" alt="plane" />
        </div>
    </a>
    <ul class="navigation-list">
        <li class="list-elements"><a asp-controller="Airport" asp-action="Index">Airports</a></li>
        <li class="list-elements"><a asp-controller="Airline" asp-action="Index">Airlines</a></li>
        <li class="list-elements"><a asp-controller="Flight" asp-action="Index">Flights</a></li>
    </ul>
</nav>